.card{
    width: 300px;
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.35);
    cursor: pointer;
   
}

.card > img{
    width: 100%;
    object-fit: contain;
}


.card__title{
    text-align: center;
    background-color: black;
    color: white;
}

.card__body > h4,.card__body>p{
padding: 5px;
}

.card__body>p:last-child{
    padding-bottom: 20px;
}
